.topo {
  height: 60px;
  background-color: #101619;
  color: #a1aaae;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 0 20px;
  box-sizing: border-box;
}

.madeBy {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  cursor: default;
}

.madeBy a {
  color: #a1aaae;
  text-decoration: none;
  font-size: 14px;
}

.madeBy a:hover {
  color: aliceblue;
}

.asafe {
  height: 30px;
  width: auto;
  border-radius: 30px;
}
