.titulo-expansor {
  width: 100%;
  background-color: #212c31;
  color: #a1aaae;
  border: none;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  text-indent: 15px;
  padding: 10px 8px;
}

.titulo-expansor.selecionado {
  border-left: 4px solid #01648f;
  background-color: #233137;
  color: white;
}

button.titulo-expansor:hover {
  background-color: #233137;
}

.conteudo-expansor {
  width: 100%;
  display: block;
  background-color: #182125;
  color: #a1aaae;
  text-align: left;
  border: none;
  cursor: pointer;
  font-size: 12px;
  text-indent: 15px;
  height: auto;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

button.conteudo-expansor {
  height: 32px;
}

button.conteudo-expansor:hover {
  background-color: #233137;
}
